<nav class="{{className}} container panel">
  <p class="panel__guide">Загрузите выгрузку в формате CSV из bunq</p>
  <form class="panel__form" action="#" method="post">
    <input type="file" class="panel__file-input" name="user-file" id="user-file"/>
    <label for="user-file" class="panel__file-select button">Выбрать файл</label>
    <span class="panel__file-name panel__file-name--empty">Файл не выбран</span>
  </form>
  <a href="#settings" class="panel__settings-link button button--silver">
    Настройки
  </a>
</nav>
