.panel {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: $gap;

  &__guide {
    margin: 0;
    padding: 0;
  }

  &__form {
    display: flex;
    gap: $gap;
    align-items: baseline;

    margin: 0;
    padding: 0;
  }

  &__file-input {
    @extend .visually-hidden;

    &:focus + label {
      outline: $outlineBlue 2px solid;

      transform: translateY(-2px);
    }
  }

  &__file-name {
    width: 200px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    transform: translateY(1px);

    &::before {
      content: $fileIcon;

      position: static;
      display: inline;
      vertical-align: middle;
      margin-right: 5px;

      width: 11px;
      height: 15px;
    }

    &--empty {
      padding-left: 0;

      font-style: italic;

      &::before {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: ($breakpoint - 1px)) {
  .panel {
    flex-direction: column;
    align-items: center;

    &__form {
      flex-direction: column;
      align-items: center;
    }

    &__file-name {
      text-align: center;

      transform: translateY(2px);
    }

    &__file-submit,
    &__file-select,
    &__settings-link {
      width: 150px;
    }
  }
}
