.button {
  display: inline-block;
  padding: 8px 10px;
  box-sizing: content-box;

  border: none;
  border-radius: 5px;
  background: $buttonBackground;
  box-shadow:
    $buttonNormalShadowXOffset $buttonNormalShadowYOffset $buttonNormalShadowBlur 0 $buttonShadowNormalColor,
    $buttonNormalLiftXOffset $buttonNormalLiftYOffset 0 0 $buttonLiftColor,
    $buttonHighlightXOffset $buttonHighlightYOffset $buttonHighlightBlur 0 $buttonHighlightColor inset;

  color: $white;
  text-align: center;
  text-shadow: $buttonTextShadowXOffset $buttonTextShadowYOffset 0 $buttonTextShadowColor;
  text-decoration: none;
  font-size: $buttonTextFontSize;
  font-weight: bold;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  line-height: $buttonTextFontSize;

  cursor: pointer;

  transition: transform 500ms, box-shadow 500ms;

  &:hover {
    box-shadow:
      $buttonHoverShadowXOffset $buttonHoverShadowYOffset $buttonHoverShadowBlur 0 $buttonShadowHoverColor,
      $buttonHoverLiftXOffset $buttonHoverLiftYOffset 0 0 $buttonLiftColor,
      $buttonHighlightXOffset $buttonHighlightYOffset $buttonHighlightBlur 0 $buttonHighlightColor inset;

    transform: translateY(-$buttonLiftDistance);
  }

  &:focus {
    box-shadow:
      $buttonHoverShadowXOffset $buttonHoverShadowYOffset $buttonHoverShadowBlur 0 $buttonShadowHoverColor,
      $buttonHoverLiftXOffset $buttonHoverLiftYOffset 0 0 $buttonLiftColor,
      $buttonHighlightXOffset $buttonHighlightYOffset $buttonHighlightBlur 0 $buttonHighlightColor inset;
    outline-color: $outlineBlue;
    outline-width: 3px;

    transform: translateY(-$buttonLiftDistance);
  }

  &:active {
    text-shadow: none;
    box-shadow:
      $buttonActiveShadowXOffset $buttonActiveShadowYOffset $buttonActiveShadowBlur 0 $buttonShadowActiveColor,
      $buttonActiveLiftXOffset $buttonActiveLiftYOffset 0 0 $buttonLiftColor;

    transform: translateY(0);
  }

  &:disabled {
    opacity: $disabledButtonOpacity;

    cursor: not-allowed;

    transform: none;
  }

  &--pin {
    width: 0.9em;
    height: 0.8em;

    padding: .3em .35em .4em .35em;
    text-shadow: none;
    font-size: 14px;
    line-height: auto;

    border-radius: 50%;

    transform: translateY($pinButtonYOffset);

    &:hover,
    &:focus {
      transform: translateY($pinButtonYOffset - $buttonLiftDistance);
    }

    &:active {
      transform: translateY(0);
    }
  }

  &--silver {
    background: $silverButtonBackground;
    box-shadow:
      $buttonNormalShadowXOffset $buttonNormalShadowYOffset $buttonNormalShadowBlur 0 $buttonShadowNormalColor,
      $buttonNormalLiftXOffset $buttonNormalLiftYOffset 0 0 $silverButtonLiftColor,
      $buttonHighlightXOffset $buttonHighlightYOffset $buttonHighlightBlur 0 $buttonHighlightColor inset;

    color: $darkGrey;
    text-shadow: $silverButtonTextShadowXOffset $silverButtonTextShadowYOffset 0 $silverButtonTextShadowColor;

    &:hover {
      box-shadow:
        $buttonHoverShadowXOffset $buttonHoverShadowYOffset $buttonHoverShadowBlur 0 $buttonShadowHoverColor,
        $buttonHoverLiftXOffset $buttonHoverLiftYOffset 0 0 $silverButtonLiftColor,
        $buttonHighlightXOffset $buttonHighlightYOffset $buttonHighlightBlur 0 $buttonHighlightColor inset;
    }

    &:focus {
      box-shadow:
        $buttonHoverShadowXOffset $buttonHoverShadowYOffset $buttonHoverShadowBlur 0 $buttonShadowHoverColor,
        $buttonHoverLiftXOffset $buttonHoverLiftYOffset 0 0 $silverButtonLiftColor,
        $buttonHighlightXOffset $buttonHighlightYOffset $buttonHighlightBlur 0 $buttonHighlightColor inset;
    }

    &:active {
      box-shadow:
        $buttonActiveShadowXOffset $buttonActiveShadowYOffset $buttonActiveShadowBlur 0 $buttonShadowActiveColor,
        $buttonActiveLiftXOffset $buttonActiveLiftYOffset 0 0 $silverButtonLiftColor,
        $buttonHighlightXOffset $buttonHighlightYOffset $buttonHighlightBlur 0 $buttonHighlightColor inset;
    }
  }

  &--red {
    background: $redButtonBackground;
    box-shadow:
      $pinButtonNormalShadowXOffset $pinButtonNormalShadowYOffset $pinButtonNormalShadowBlur 0 $buttonShadowNormalColor,
      $pinButtonNormalLiftXOffset $pinButtonNormalLiftYOffset 0 0 $redButtonLiftColor,
      $buttonHighlightXOffset $buttonHighlightYOffset $buttonHighlightBlur 0 $buttonHighlightColor inset;

    &:hover {
      box-shadow:
        $pinButtonHoverShadowXOffset $pinButtonHoverShadowYOffset $pinButtonHoverShadowBlur 0 $buttonShadowHoverColor,
        $pinButtonHoverLiftXOffset $pinButtonHoverLiftYOffset 0 0 $redButtonLiftColor,
        $buttonHighlightXOffset $buttonHighlightYOffset $buttonHighlightBlur 0 $buttonHighlightColor inset;
    }

    &:focus {
      box-shadow:
        $pinButtonHoverShadowXOffset $pinButtonHoverShadowYOffset $pinButtonHoverShadowBlur 0 $buttonShadowHoverColor,
        $pinButtonHoverLiftXOffset $pinButtonHoverLiftYOffset 0 0 $redButtonLiftColor,
        $buttonHighlightXOffset $buttonHighlightYOffset $buttonHighlightBlur 0 $buttonHighlightColor inset;
    }

    &:active {
      box-shadow:
        $pinButtonActiveShadowXOffset $pinButtonActiveShadowYOffset $pinButtonActiveShadowBlur 0 $buttonShadowActiveColor,
        $pinButtonActiveLiftXOffset $pinButtonActiveLiftYOffset 0 0 $redButtonLiftColor,
        $buttonHighlightXOffset $buttonHighlightYOffset $buttonHighlightBlur 0 $buttonHighlightColor inset;
    }
  }

  &--gold {
    background: $goldButtonBackground;
    box-shadow:
      $pinButtonNormalShadowXOffset $pinButtonNormalShadowYOffset $pinButtonNormalShadowBlur 0 $buttonShadowNormalColor,
      $pinButtonNormalLiftXOffset $pinButtonNormalLiftYOffset 0 0 $goldButtonLiftColor,
      $buttonHighlightXOffset $buttonHighlightYOffset $buttonHighlightBlur 0 $buttonHighlightColor inset;

    &:hover {
      box-shadow:
        $pinButtonHoverShadowXOffset $pinButtonHoverShadowYOffset $pinButtonHoverShadowBlur 0 $buttonShadowHoverColor,
        $pinButtonHoverLiftXOffset $pinButtonHoverLiftYOffset 0 0 $goldButtonLiftColor,
        $buttonHighlightXOffset $buttonHighlightYOffset $buttonHighlightBlur 0 $buttonHighlightColor inset;
    }

    &:focus {
      box-shadow:
        $pinButtonHoverShadowXOffset $pinButtonHoverShadowYOffset $pinButtonHoverShadowBlur 0 $buttonShadowHoverColor,
        $pinButtonHoverLiftXOffset $pinButtonHoverLiftYOffset 0 0 $goldButtonLiftColor,
        $buttonHighlightXOffset $buttonHighlightYOffset $buttonHighlightBlur 0 $buttonHighlightColor inset;
    }

    &:active {
      box-shadow:
        $pinButtonActiveShadowXOffset $pinButtonActiveShadowYOffset $pinButtonActiveShadowBlur 0 $buttonShadowActiveColor,
        $pinButtonActiveLiftXOffset $pinButtonActiveLiftYOffset 0 0 $goldButtonLiftColor,
        $buttonHighlightXOffset $buttonHighlightYOffset $buttonHighlightBlur 0 $buttonHighlightColor inset;
    }
  }

  &--green {
    background: $greenButtonBackground;
    box-shadow:
      $pinButtonNormalShadowXOffset $pinButtonNormalShadowYOffset $pinButtonNormalShadowBlur 0 $buttonShadowNormalColor,
      $pinButtonNormalLiftXOffset $pinButtonNormalLiftYOffset 0 0 $greenButtonLiftColor,
      $buttonHighlightXOffset $buttonHighlightYOffset $buttonHighlightBlur 0 $buttonHighlightColor inset;

    &:hover {
      box-shadow:
        $pinButtonHoverShadowXOffset $pinButtonHoverShadowYOffset $pinButtonHoverShadowBlur 0 $buttonShadowNormalColor,
        $pinButtonHoverLiftXOffset $pinButtonHoverLiftYOffset 0 0 $greenButtonLiftColor,
        $buttonHighlightXOffset $buttonHighlightYOffset $buttonHighlightBlur 0 $buttonHighlightColor inset;
    }

    &:focus {
      box-shadow:
        $pinButtonHoverShadowXOffset $pinButtonHoverShadowYOffset $pinButtonHoverShadowBlur 0 $buttonShadowNormalColor,
        $pinButtonHoverLiftXOffset $pinButtonHoverLiftYOffset 0 0 $greenButtonLiftColor,
        $buttonHighlightXOffset $buttonHighlightYOffset $buttonHighlightBlur 0 $buttonHighlightColor inset;
    }

    &:active {
      box-shadow:
        $pinButtonActiveShadowXOffset $pinButtonActiveShadowYOffset $pinButtonActiveShadowBlur 0 $buttonShadowNormalColor,
        $pinButtonActiveLiftXOffset $pinButtonActiveLiftYOffset 0 0 $greenButtonLiftColor,
        $buttonHighlightXOffset $buttonHighlightYOffset $buttonHighlightBlur 0 $buttonHighlightColor inset;
    }
  }
}
