.icon {
    display: inline-block;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;

    &--pen {
        background-image: $penIcon;
    }

    &--up {
        background-image: $upIcon;
        transform: scale(0.9);
    }

    &--down {
        background-image: $downIcon;
        background-position: left bottom;
        transform: translateY(10%) scale(0.9);
    }
}
