<form class="form form--horizontal" method="post" action="#">
  <label class="form__label" for="id">Идентификатор</label>
  <input class="form__text-input" id="id" name="id" value="" />
  <aside class="form__validation-container"></aside>
  <label class="form__label" for="category">Категория</label>
  <input class="form__text-input" id="category" name="category" value="Продукты" />
  <aside class="form__validation-container"></aside>
  <label class="form__label" for="name">Имя</label>
  <input class="form__text-input form__text-input--error" id="name" name="name" value="" />
  <aside class="form__validation-container">
    <include src="components/message/message.html" locals='{"type": "error", "message": "Такая категория уже есть"}'></include>
  </aside>
  <div class="form__buttons-container">
    <button class="button form__submit" type="submit" disabled>Сохранить</button>
    <button class="button button--silver" type="reset">Отмена</button>
  </div>
</form>

<table class="transactions">
  <tr class="transactions__header-row">
    <th>Дата</th>
    <th class="desktop-only">Счет-плательщик</th>
    <th class="desktop-only">Счет-получатель</th>
    <th>Комментарий</th>
    <th>Сумма</th>
  </tr>
  <tr class="transactions__row">
    <td>22.03.2022</td>
    <td class="desktop-only">Bunq | Main</td>
    <td class="desktop-only"><span class="transactions__empty">&mdash;</span></td>
    <td>Jutter Speijs B.V. Hilversum, NL</td>
    <td>7.15</td>
  </tr>
  <tr class="transactions__row">
    <td>22.03.2022</td>
    <td class="desktop-only">Bunq | Main</td>
    <td class="desktop-only"><span class="transactions__empty">&mdash;</span></td>
    <td>Комиссия за входящий платеж от RaiffeisenBank Russia</td>
    <td>5.00</td>
  </tr>
  <tr class="transactions__row">
    <td>22.03.2022</td>
    <td class="desktop-only">Bunq | Main</td>
    <td class="desktop-only"><span class="transactions__empty">&mdash;</span></td>
    <td><span class="transactions__empty">&mdash;</span></td>
    <td>20.39</td>
  </tr>
  <tr class="transactions__row">
    <td>23.03.2022</td>
    <td class="desktop-only">Bunq | Main</td>
    <td class="desktop-only"><span class="transactions__empty">&mdash;</span></td>
    <td>Отель в Милане для Ани</td>
    <td>59.00</td>
  </tr>
  <tr class="transactions__row">
    <td>23.03.2022</td>
    <td class="desktop-only">Bunq | Main</td>
    <td class="desktop-only"><span class="transactions__empty">&mdash;</span></td>
    <td>Кофе</td>
    <td>3.80</td>
  </tr>
  <tr class="transactions__row">
    <td>23.03.2022</td>
    <td class="desktop-only">Bunq | Main</td>
    <td class="desktop-only"><span class="transactions__empty">&mdash;</span></td>
    <td>Jutter Speijs B.V. Hilversum, NL</td>
    <td>2.90</td>
  </tr>
  <tr class="transactions__row">
    <td>24.03.2022</td>
    <td class="desktop-only">Bunq | Main</td>
    <td class="desktop-only"><span class="transactions__empty">&mdash;</span></td>
    <td><span class="transactions__empty">&mdash;</span></td>
    <td>20.00</td>
  </tr>
</table>

