<form class="form" id="transaction-edit-form" method="post" action="#">
  <label class="form__label" for="field--date">Дата</label>
  <input type="date" class="form__text-input" id="field--date" name="field--date" value="" />
  <aside class="form__validation-container"></aside>
  <label class="form__label" for="field--category">Категория</label>
  <input class="form__text-input" id="field--category" name="field--category" list="list--category" value="" />
  <datalist id="list--category"></datalist>
  <aside class="form__validation-container"></aside>
  <label class="form__label" for="field--counterparty">Контрагент</label>
  <input class="form__text-input" id="field--counterparty" name="field--counterparty" list="list--counterparty" value="" />
  <datalist id="list--counterparty"></datalist>
  <aside class="form__validation-container"></aside>
  <label class="form__label" for="field--outcome-account">Счет-плательщик</label>
  <input class="form__text-input" id="field--outcome-account" name="field--outcome-account" list="list--outcome-account" value="" />
  <datalist id="list--outcome-account"></datalist>
  <aside class="form__validation-container"></aside>
  <label class="form__label" for="field--income-account">Счет-получатель</label>
  <input class="form__text-input" id="field--income-account" name="field--income-account" list="list--income-account" value="" />
  <datalist id="list--income-account"></datalist>
  <aside class="form__validation-container"></aside>
  <label class="form__label" for="field--amount">Сумма</label>
  <input class="form__text-input" id="field--amount" name="field--amount" list="list--amount" value="" />
  <aside class="form__validation-container"></aside>
  <label class="form__label" for="field--comment">Комментарий</label>
  <textarea class="form__text-input" id="field--comment" name="field--comment" rows="5"></textarea>
  <aside class="form__validation-container"></aside>
  <div class="form__buttons-container">
    <button class="button form__submit" type="submit">Сохранить</button>
    <button class="button button--silver" type="reset">Отмена</button>
  </div>
</form>
