<tr class="transactions__row">
  <td class="transactions__date"></td>
  <td class="transactions__category"></td>
  <td class="transactions__counterpart"></td>
  <td class="transactions__payer"></td>
  <td class="transactions__payee"></td>
  <td class="transactions__sum"></td>
  <td class="transactions__comment"></td>
  <td class="transactions__actions">
    <button class="transactions__edit-button button button--pin button--gold desktop-only"><i class="icon icon--pen"></i></button>
    <button class="transactions__delete-button button button--pin button--red desktop-only">&minus;</button>
    <button class="transactions__expand-button button button--pin button--green mobile-only"><i class="icon icon--up"></i></button>
    <button class="transactions__edit-button mobile-only">Редактировать</button>
    <button class="transactions__delete-button mobile-only">Удалить</button>
  </td>
</tr>
