<table class="transactions">
  <tr class="transactions__header-row">
    <th class="transactions__date">Дата</th>
    <th class="transactions__category">Категория</th>
    <th class="transactions__counterpart">Контрагент</th>
    <th class="transactions__payer">Счет-плательщик</th>
    <th class="transactions__payee">Счет-получатель</th>
    <th class="transactions__sum">Сумма</th>
    <th class="transactions__comment">Комментарий</th>
    <th class="transactions__actions"></th>
  </tr>
</table>
