<li class="{{className}} card">
  <dl class="card__description">
      <dt class="card__description-term">Категория</dt>
      <dd class="card__description-definition">{{category}}</dd>
      <dt class="card__description-term">Идентификатор</dt>
      <dd class="card__description-definition">{{id}}</dd>
      <dt class="card__description-term">Имя</dt>
      <dd class="card__description-definition">{{name}}</dd>
  </dl>
  <div class="card__control">
      <button class="button button--gold button--pin"><i class="icon icon--pen"></i></button>
      <button class="button button--red button--pin">&minus;</button>
  </div>
</li>
