<li class="{{className}} card">
  <dl class="card__description">
      <dt class="card__description-term">Категория</dt>
      <dd class="card__description-definition card__category"></dd>
      <dt class="card__description-term">Идентификатор</dt>
      <dd class="card__description-definition card__key"></dd>
      <dt class="card__description-term">Имя</dt>
      <dd class="card__description-definition card__name"></dd>
  </dl>
  <div class="card__control">
    <button class="button button--gold button--pin button__edit" ><i class="icon icon--pen"></i></button>
    <button class="button button--red button--pin button__delete">&minus;</button>
  </div>
</li>
