.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  z-index: 1;

  display: flex;
  align-items: center;
  overflow-y: scroll;

  padding: 10px;
  box-sizing: border-box;

  background: $shadowBlack;

  &__window {
    margin: auto;
    padding: 20px;

    background: $white;
  }

  &__header-wrapper {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header {
    margin: 0 20px 0 0;
    line-height: 1em;
  }

  &__close {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    margin-left: auto;
    padding: 0;

    background: none;
    border: $grey 1px solid;
    border-radius: 50%;

    color: $grey;
    font-size: 2em;
    text-align: center;
    line-height: 1.1em;

    cursor: pointer;

    transition: transform 250ms;

    &:hover {
      transform: translateY(-2px);
    }

    &:focus {
      border-color: $outlineBlue;
      border-width: 2px;
      outline: none;

      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }
  }
}
