<section class="settings">
  <h2 class="settings__header header">
    Категории
    <button class="settings__add-category-button button button--pin">+</button>
  </h2>
  <ul class="settings__categories settings__card-list">
    <include src="components/card/card-advanced-1.html" locals='{"className": "settings__card-item", "id": "Продукты"}'></include>
    <include src="components/card/card-advanced-1.html" locals='{"className": "settings__card-item", "id": "Зарплата"}'></include>
    <include src="components/card/card-advanced-1.html" locals='{"className": "settings__card-item", "id": "Переезд"}'></include>
    <include src="components/card/card-advanced-1.html" locals='{"className": "settings__card-item", "id": "Еда вне дома"}'></include>
    <include src="components/card/card-advanced-1.html" locals='{"className": "settings__card-item", "id": "Банковские услуги"}'></include>
    <include src="components/card/card-advanced-1.html" locals='{"className": "settings__card-item", "id": "Семья"}'></include>
  </ul>
  <h2 class="settings__header header">
    Счета
    <button class="settings__add-account-button button button--pin">+</button>
  </h2>
  <ul class="settings__acccounts settings__card-list">
    <include src="components/card/card-advanced-2.html" locals='{"className": "settings__card-item", "name": "Bunq | Main", "id": "NL14BUNQ2068972565"}'></include>
  </ul>
  <h2 class="settings__header header">
    Контрагенты
    <button class="settings__add-counterpart-button button button--pin">+</button>
  </h2>
  <ul class="settings__counterparts settings__card-list">
    <include src="components/card/card-advanced-3.html" locals='{"className": "settings__card-item", "category": "Продукты", "id": "ALBERT HEIJN 1349", "name": "Albert Heijn"}'></include>
    <include src="components/card/card-advanced-3.html" locals='{"className": "settings__card-item", "category": "Коммунальные платежи", "id": "VITENS NV", "name": "Vitens"}'></include>
    <include src="components/card/card-advanced-3.html" locals='{"className": "settings__card-item", "category": "Одежда", "id": "Uniqlo Europe Ltd Dutc", "name": "Uniqlo"}'></include>
    <include src="components/card/card-advanced-3.html" locals='{"className": "settings__card-item", "category": "Зарплата", "id": "MediaMonks", "name": "MediaMonks"}'></include>
    <include src="components/card/card-advanced-3.html" locals='{"className": "settings__card-item", "category": "Коммунальные платежи", "id": "KPN B.V.", "name": "KPN"}'></include>
  </ul>
</section>
