<section class="settings">
  <h2 class="settings__header header">
    Категории
    <span class="categories-count"></span>
    <button class="settings__add-category-button button button--pin" id="settings-add-category-button">+</button>
  </h2>
  <div class="settings__categories"></div>
  <h2 class="settings__header header">
    Счета
    <span class="accounts-count"></span>
    <button class="settings__add-account-button button button--pin" id="settings-add-account-button">+</button>
  </h2>
  <div class="settings__accounts"></div>
  <h2 class="settings__header header">
    Контрагенты
    <span class="counterparties-count"></span>
    <button class="settings__add-counterpart-button button button--pin" id="settings-add-counterparty-button">+</button>
  </h2>
  <div class="settings__counterparties"></div>
</section>
