<form class="form" id="settings-acount-form" method="post">
  <label class="form__label" for="field--key">Идентификатор</label>
  <input class="form__text-input" id="field--key" name="field--key" value="" />
  <aside class="form__validation-container"></aside>
  <label class="form__label" for="field--name">Имя</label>
  <input class="form__text-input" id="field--name" name="field--name" value="" />
  <aside class="form__validation-container"></aside>
  <div class="form__buttons-container">
    <button class="button form__submit" type="submit">Сохранить</button>
    <button class="button button--silver" type="reset">Отмена</button>
  </div>
</form>
