.message {
  margin: 0;

  &--error {
    color: $errorRed;

    &::before {
      content: $warningIcon;
      width: 17px;
      height: 15px;
      margin-right: 5px;

      vertical-align: middle;
    }
  }
}
