.message {
  margin: 0;

  &--error {
    color: #AF1C1C;

    &::before {
      content: url("data:image/svg+xml,%3Csvg width='17' height='15' viewBox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 15L8.5 0L17 15H0ZM1.54545 14.0909L8.5 1.81818L15.4545 14.0909H1.54545ZM8.99999 4.59998H8.00399V8.76398L8.20799 10.876H8.79599L8.99999 8.76398V4.59998ZM7.97999 11.944C7.85999 12.064 7.79999 12.232 7.79999 12.448C7.79999 12.656 7.85999 12.824 7.97999 12.952C8.10799 13.08 8.27599 13.144 8.48399 13.144C8.69999 13.144 8.87199 13.08 8.99999 12.952C9.12799 12.824 9.19199 12.656 9.19199 12.448C9.19199 12.232 9.12799 12.064 8.99999 11.944C8.87199 11.816 8.69999 11.752 8.48399 11.752C8.27599 11.752 8.10799 11.816 7.97999 11.944Z' fill='%23AF1C1C'/%3E%3C/svg%3E");
      width: 17px;
      height: 15px;
      margin-right: 5px;

      vertical-align: middle;
    }
  }
}
